{% include "header.html" %}

<table class="table">
    <thead class=" text-primary">
    <th>
        ID
    </th>
    <th>
        Imie
    </th>
    <th>
        Temperatura
    </th>
    <th>
        Wilgotność
    </th>
    <th>
        Data pomiaru
    </th>
    </thead>
    {% for snake in snakes: %}
    <tbody>
    <tr>
        <td>
            {{ snake.id }}
        </td>
        <td>
            <a href={{ url_for ("snake_select_name", name= snake.name) }}> {{ snake.name }} </a>
        </td>
        <td class="text-primary">
            {{ snake.temp }}
        </td>
        <td class="text-primary">
            {{ snake.humi }}
        </td>
        <td>
            {{ snake.date }}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "footer.html" %}
